In [129]:
import pandas as pd

### リストからDfを作る

In [130]:
data = [[1, 2], [3, 4]]

In [131]:
df = pd.DataFrame(data, index=["row1", "row2"], columns=["col1", "col2"])

In [132]:
df

      col1  col2
row1     1     2
row2     3     4

### 辞書からデータフレームを作る

In [133]:
data = [{"p1": 1, "p2": 2}, {"p1": 1, "p2": 2}]

In [134]:
df = pd.DataFrame(data, index=["test1", "test2"])

In [135]:
df

       p1  p2
test1   1   2
test2   1   2

### 辞書の1列をindexにする

In [136]:
data = [{"p1": 1, "p2": 2, "pin": 1857}, {"p1": 3, "p2": 4, "pin": 1858}]

In [137]:
df = pd.DataFrame(data)

In [138]:
df

   p1  p2   pin
0   1   2  1857
1   3   4  1858

In [139]:
df = df.set_index("pin")

In [140]:
df

      p1  p2
pin
1857   1   2
1858   3   4

### 列を並び替える

In [172]:
df = df.reindex(columns=["p2", "p1"])

In [173]:
df

      p2  p1
pin
1857 NaN   1
1858 NaN   3

### 列を抽出する

In [174]:
data = [
    {"p1": 1, "p2": 2, "p3": 1, "p4": 2, "pin": 1857},
    {"p1": 3, "p2": 4, "p3": 3, "p4": 4, "pin": 1858},
]

In [175]:
df = pd.DataFrame(data)

In [176]:
df

   p1  p2  p3  p4   pin
0   1   2   1   2  1857
1   3   4   3   4  1858

In [177]:
df = df.set_index("pin")

In [178]:
df

      p1  p2  p3  p4
pin
1857   1   2   1   2
1858   3   4   3   4

In [184]:
df_tmp = df.loc[:, ["p2", "p1"]]

In [185]:
df_tmp

      p2  p1
pin
1857   2   1
1858   4   3

In [186]:
df_tmp2 = df.reindex(columns=["p1"])

In [187]:
df_tmp2

      p1
pin
1857   1
1858   3

In [189]:
df_tmp3 = df.iloc[:,[1,2]]

In [190]:
df_tmp3

      p2  p3
pin
1857   2   1
1858   4   3