In [1]:
import pandas as pd

In [2]:
data = [
    {"pin": 1857, "test1": 1},
    {"pin": 1858, "test1": 2},
    {"pin": 1859, "test1": 2},
    {"pin": 1859, "test1": 3},
]

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    pin  test1
0  1857      1
1  1858      2
2  1859      2
3  1859      3

In [5]:
df.loc[1]

pin      1858
test1       2
Name: 1, dtype: int64

In [46]:
df = df.set_index("pin")

In [47]:
df_test = df["test1"]

In [48]:
df_test

pin
1857    1
1858    2
1859    2
1859    3
Name: test1, dtype: int64

In [49]:
df_test.size

4

In [50]:
type(df_pin)

pandas.core.series.Series

### LOC

In [51]:
df

      test1
pin
1857      1
1858      2
1859      2
1859      3

In [54]:
df.loc[1857, "test1"]

1

In [56]:
df.iloc[1, 0]

2

In [58]:
import pandas as pd

data = [
    {"pin": 1857, "test1": 1},
    {"pin": 1858, "test1": 2},
]

data2 = [
    {"pin": 1859, "test1": 2},
    {"pin": 1859, "test1": 3},
]

In [69]:
df1 = pd.DataFrame(data)
df1["i"] = list(range(0, len(df1.index) * 2, 2))

In [71]:
df1

    pin  test1  i
0  1857      1  0
1  1858      2  2

In [72]:
df2 = pd.DataFrame(data2)
df2["i"] = list(range(1, len(df1.index) * 2, 2))

In [73]:
df = pd.concat([df1, df2])

In [74]:
df

    pin  test1  i
0  1857      1  0
1  1858      2  2
0  1859      2  1
1  1859      3  3

In [75]:
df.sort_values("i")

    pin  test1  i
0  1857      1  0
0  1859      2  1
1  1858      2  2
1  1859      3  3

In [6]:
import pandas as pd

data = [
    {"pin": 1857, "test1": 1, "test2": 1},
    {"pin": 1858, "test1": 2, "test3": 2, "test2": 1},
    {"pin": 1859, "test1": 2, "test2": 2},
]

In [7]:
df = pd.DataFrame(data)

In [8]:
df

    pin  test1  test2  test3
0  1857      1      1    NaN
1  1858      2      1    2.0
2  1859      2      2    NaN

In [9]:
df["test4"] = df["test2"] + df["test3"]

In [10]:
df

    pin  test1  test2  test3  test4
0  1857      1      1    NaN    NaN
1  1858      2      1    2.0    3.0
2  1859      2      2    NaN    NaN

In [16]:
df["test2"].idxmin()

0

In [24]:
lst = [1, 2, 3, 4, 5, 6,7,8,9]
skip_flag = False
skip_counter=0
for index, value in enumerate(lst):

    if skip_counter==3:
        skip_flag=False
    
    if skip_flag:
        skip_counter+=1
        continue
    print(f"index={index}")
    print(f"value={value}")

    if index == 2:
        skip_flag = True

index=0
value=1
index=1
value=2
index=2
value=3
index=6
value=7
index=7
value=8
index=8
value=9