In [16]:
import pandas as pd

In [43]:
data = [
    {"pin": 1857, "test1": 1},
    {"pin": 1858, "test1": 2},
    {"pin": 1859, "test1": 2},
    {"pin": 1859, "test1": 3},
]

In [44]:
df = pd.DataFrame(data)

In [45]:
df

    pin  test1
0  1857      1
1  1858      2
2  1859      2
3  1859      3

In [46]:
df = df.set_index("pin")

In [47]:
df_test = df["test1"]

In [48]:
df_test

pin
1857    1
1858    2
1859    2
1859    3
Name: test1, dtype: int64

In [49]:
df_test.size

4

In [50]:
type(df_pin)

pandas.core.series.Series

### LOC

In [51]:
df

      test1
pin
1857      1
1858      2
1859      2
1859      3

In [54]:
df.loc[1857, "test1"]

1

In [56]:
df.iloc[1,0]

2