In [15]:
import pandas as pd

In [16]:
df1 = pd.read_excel("./data/csv_type1_1.xlsx", engine="openpyxl", index_col=0)
df2 = pd.read_excel("./data/csv_type1_2.xlsx", engine="openpyxl", index_col=0)

In [17]:
pd.merge(df1, df2,on='pin', suffixes=['_df1', '_df2'])

     test1_df1  test2_df1  test3_df1  test1_df2  test2_df2  test3_df2
pin
P1           1          2          1          2          2          4
P2           3          4          1          2          4          5
P3           5          6          1          2          6          6
P4           2          2          1          2          2          2

### わかりません

In [18]:
data_path = "./data/"
file_list = ["csv_type1_1.xlsx", "csv_type1_2.xlsx"]

In [20]:
df_list = []

for file in file_list:
    df_list.append(pd.read_excel(data_path+file, engine="openpyxl", index_col=0))

In [22]:
pd.concat(df_list, axis=1)

     test1  test2  test3  test1  test2  test3
pin
P1       1      2      1      2      2      4
P2       3      4      1      2      4      5
P3       5      6      1      2      6      6
P4       2      2      1      2      2      2