In [34]:
import csv
from collections import OrderedDict

import pandas as pd

with open("data/wavedata.csv", mode="r") as inp:
    reader = csv.reader(inp)
    data = []
    columns = []
    for rows in reader:
        print(rows)
        dic = OrderedDict()
        columns.append(rows[0])
        for i in range(1, len(rows) - 1, 2):
            dic[rows[i]] = rows[i + 1]
        data.append(dic)

df = pd.DataFrame(data, index=columns)

['\ufeffp1', 'tr', '1', 'tf', '4']
['p2', 'tr', '2', 'tf', '5']
['p3', 'tr', '3', 'tf', '6']

In [35]:
df

    tr tf
﻿p1  1  4
p2   2  5
p3   3  6